* { margin: 0; padding: 0; }
html, body { height: 100%;}
body { background: url(images/bg.jpg) fixed no-repeat #98b5d5; font: 14px/1.4 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;}
header, section, footer, aside, nav, article, figure { display: block; } 

/* Background image */


/*	Page wrap */

#page-wrap{	
	position:relative;
	overflow:hidden;
}

#container{
	margin: 115px 0 0 0;
}

header{
	margin: 0 0 0 323px;
	/*overflow: hidden;*/
}

header .logo{
	position: absolute;
	top: 72px;
	left: 883px;
	z-index: 20;
}

nav{
	width: 560px;
	background: #4de597;
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

nav ul{
	overflow: hidden;
}

nav li{
	float:left;
	width: 70px;
	list-style: none;
	height: 35px;
	margin-left: 4px;
	text-align: center;
	line-height: 35px;
}

nav li a{
	margin: 0 10px;
	font-size: 13px;
	letter-spacing 1px;
	text-transform: uppercase;
	text-decoration: none;
}

nav li a.active{
	/*background: url(images/home.png) top left no-repeat;*/
}

#main-content{
	overflow: hidden;
	margin: 0 20px 1px 20px;
}

aside{
	margin: 0 0 0 55px;
	padding: 0 10px;
	float: left;
	width: 226px;
	background: #ffffff;
	border-top: solid 2px #4DE597;
	border-left: solid 2px #4DE597;
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}

aside h2{
	font-size: medium;
	padding: 0;
	text-align: center;
	border: solid 1px #98B5D5;
	background: #98B5D5;
}

aside section{
	float: right;
	width: 226px;
	padding: 10px 0 5px 10px;
}

aside .box{
	min-height: 67px;
	border: solid 1px #98B5D5;
}

aside form.srch{
	padding: 10px 0 0 11px;
}

#inner{
	margin: 0 100px 0 0;
	padding: 20px 10px 54px 10px;
	float: left;
	width: 796px;
	background: #ffffff;
	border-left: solid 2px #4DE597;
	border-right: solid 2px #4DE597;
	border-top: solid 2px #4DE597;
	color: #666;
	font-size: 15px;
}

article{
	padding: 20px 0;
	line-height: 1.6em;
	font: normal normal 80% Arial, sans-serif;
}

#inner h1, h2{
	padding: 10px 0 0;
	text-indent: 20px;
	font-size: 200%;
	color: #C60;
}

#juice{
	/*-moz-box-shadow: -3px 5px 5px #ccc;
  	-webkit-box-shadow: -3px 5px 5px #ccc;
  	box-shadow: -3px 5px 5px #ccc;*/
  	background: #ffffff;
  	padding: 10px;
  	float: left;
  	width: 480px  	
}

#juice p{
	padding: 10px 0;
}

#mini-side{
	padding-top: 30px;
	float: right;
	width: 296px;
}

#mini-side h2{
	font-size: medium;
}


article .date-bubble{
	text-indent: 20px;
}

.entry-content{
	padding: 10px 20px 20px 20px;
}

footer{
	background: #000;
	color: white;
	padding: 30px 0;
}

footer .container{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

/*
    The following zoom:1 rule is specifically for IE6 + IE7.
    Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
    zoom: 1;
}